* {
   font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: none; /* Disable anti-aliasing */
    font-smooth: never; /* For newer browsers like Firefox */
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
h1, h2, h3 {
  font-weight: 700;
  text-align: right;
}
.dashboard {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%; /* Two equal columns */
    grid-template-rows: 50% 50%; /* Two equal rows */
    width: 800px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.container {
    padding: 10px;
    align-items: left;
    justify-content: left;
}

.container > div {
}

.box {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
    margin-bottom: 5px;
}

.box b {
  font-size: large;
}

.attention {
  color: #fff;
  background-color: #000;
}

.box h4 {
  margin-bottom: 3px;
  font-size: 1.1em;
}

.date {
  text-align: right;
}
h1.date {
  font-weight: normal;
}
h3.date {
  font-weight: normal;
}

h1.date span{
  font-weight: bold;
}

.number-of-days {
  margin-left: 7em;
}
