{% extends "base.html" %}
{% block body %}
<div class="dashboard">
    <div class="container">
        <!-- Current Date -->
        <div class="date">
            <div class="date-left">
                <span>{{ current_date.format("%A") }}</span>
            </div>
            <div class="date-right">
              <span>{{ current_date.day() }}</span>
              {{ self.get_month_name() }}
            </div>
        </div>
        <!-- Trash Events -->
        {% if let Some(trash_events) = periodical_items %}
            <div class="trash-events">
            {% for item in trash_events %}
                {% if item.is_old() == false %}
                <div class="box {% if item.is_today() || item.is_tomorrow() %}attention{% endif %}">
                      <div class="trash-event">
                          <div class="trash-event-summary">{{ item.summary }}</div>
                          <div class="trash-event-day">
                              {% if item.is_today() %}
                                  Today
                              {% else if item.is_tomorrow() %}
                                  Tomorrow
                              {% else %}
                                  {{ item.week_day() }}
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        <!-- Calendar Events -->
        {% if let Some(events) = calendar_items %}
            {% for event in events %}
                <div class="box">
                    <h4>{{ event.summary }}</h4>
                    <div class="event-details">
                        <div class="event-date">
                            <span>{{ event.start_date_week_day() }} <b>{{ event.start_date_day() }}</b>. {{ event.start_date_month() }}.</span>
                            {% if !event.is_day_event() %}
                                {% if event.end_date.is_some() %}
                                    <span>&ndash; <b>{{ event.end_date_day().unwrap() }}</b>. {{ event.end_date_month().unwrap() }}.</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="event-time">
                            {% if event.start_time.is_some() %}
                                <span class="time">{{ event.start_time.unwrap().format("%H:%M") }}</span>
                                {% if event.end_time.is_some() %}
                                    <span>&ndash; {{ event.end_time.unwrap().format("%H:%M") }}</span>
                                {% endif %}
                            {% endif %}
                            {% if !event.is_day_event() && event.number_of_days() > 1 %}
                                <span class="number-of-days">{{ event.number_of_days() }} days</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- Temperature Sensors -->
        {% if let Some(sensors) = temperature_data %}
            <div class="temperature-section">
                {% for sensor in sensors %}
                    <div class="temperature-card box">
                        <div class="sensor-name">
                            {{ sensor.name }}
                        </div>
                        <div class="temperature-value">
                            {{ sensor.temperature }}°C
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
